graft docs
graft src

include *.rst
include LICENSE

prune docs
prune examples
prune tests
prune developer
prune .tox
prune developer
prune examples
prune tests
prune benchmarks

exclude .codecov.yml
exclude .gitattributes
exclude .gitignore
exclude .readthedocs.yml
exclude tox.ini
exclude asv.conf.json

global-exclude *.py[cod] __pycache__/* *.so *.dylib
