graft src

include *.rst
include LICENSE

prune docs
prune examples
prune tests
prune developer

exclude .codecov.yml
exclude .gitattributes
exclude .gitignore
exclude .readthedocs.yml
exclude tox.ini

global-exclude *.py[cod] __pycache__/* *.so *.dylib
